<div class="chart">
	<lib-ngx-chart-scatter-plot
		#chartScatterPlot
		[plots]="plots"
		[camera]="camera"
		[options]="options"
		(mousedown)="
			libNgxChartScatterPlotService.panStart(
				$event,
				camera,
				chartScatterPlotRef.getMatTransform(),
				chartScatterPlotRef.getMatTransformToggleOrigin()
			)
		"
		(mousemove)="camera = libNgxChartScatterPlotService.panMove($event, camera, options)"
		(mouseup)="libNgxChartScatterPlotService.panEnd()"
		(mouseleave)="libNgxChartScatterPlotService.panEnd()"
		(wheel)="camera = libNgxChartScatterPlotService.zoom($event, camera)"
	></lib-ngx-chart-scatter-plot>
</div>
